@charset "UTF-8";
@font-face {
  font-family: "Manrope";
  src: local("Manrope Bold"), local("Manrope-Bold"), url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: local("Manrope Semibold"), local("Manrope-Semibold"), url("../fonts/Manrope-Semibold.woff2") format("woff2"), url("../fonts/Manrope-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: local("Manrope Regular"), local("Manrope-Regular"), url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: local("Manrope Light"), local("Manrope-Light"), url("../fonts/Manrope-Light.woff2") format("woff2"), url("../fonts/Manrope-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: local("Manrope Medium"), local("Manrope-Medium"), url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

html {
  font-size: 11px;
}
@media (min-width: 575px) {
  html {
    font-size: 11px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1500px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 1700px) {
  html {
    font-size: 24px;
  }
}
@media (min-width: 1921px) {
  html {
    font-size: 28px;
  }
}

body {
  display: flex;
  flex-direction: column;
  color: #382D27;
  counter-reset: steps;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.3;
  font-family: "Manrope", sans-serif;
  background-color: white;
}
body .footer-wrapper {
  margin-top: auto;
}
body .fader {
  width: 100%;
  height: 100vh;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  opacity: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
body.fixed {
  overflow: hidden;
  position: relative;
}
@media (min-width: 992px) {
  body.fixed {
    padding-right: 17px;
  }
}
body.fixed .fader {
  display: block;
  opacity: 1;
}
@media (min-width: 992px) {
  body.fixed .header--index {
    padding-right: 17px;
  }
}

.page-content {
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: unset;
}
@media (max-width: 991px) {
  .page-content {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1920px) {
  .container {
    max-width: 80%;
  }
}
@media (min-width: 1921px) {
  .container {
    max-width: 1860px;
  }
}

@media (min-width: 1200px) {
  .navbar-brand {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
}

.row {
  position: relative;
}

a {
  text-decoration: none;
}

.index-page {
  position: relative;
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  .index-page {
    padding-bottom: 50px;
  }
}
@media (max-width: 575px) {
  .index-page {
    padding-bottom: 30px;
  }
}

.inner-page {
  flex-grow: 1;
  padding-top: 80px;
  padding-bottom: 50px;
}
@media (max-width: 1920px) {
  .inner-page {
    padding-top: 50px;
  }
}

.basic-title {
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 1.15;
}
@media (max-width: 575px) {
  .basic-title {
    font-size: 1.7rem;
  }
}

.basic-link {
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1.1;
  color: black;
  transition: 0.2s ease;
}
.basic-link span {
  margin-left: 3px;
}
.basic-link:hover {
  transition: 0.2s ease;
  color: #737373;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basic-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #B4D6A4;
  padding: 19px 62px;
  color: #382D27;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1;
  border-radius: 10px;
  transition: 0.2s ease;
}
@media (max-width: 1920px) {
  .basic-button {
    padding: 5px 17px 5px;
  }
}
@media (max-width: 1499px) {
  .basic-button {
    padding: 6px 14px 5px;
    font-size: 0.9rem;
    border-radius: 7px;
  }
}
@media (max-width: 991px) {
  .basic-button {
    padding: 5px 14px 4px;
    border-radius: 7px;
  }
}
.basic-button:hover {
  color: #382D27;
  background-color: #DCCAE4;
  transition: 0.2s ease;
}
.basic-button--long {
  padding: 30px 95px;
  font-size: 0.95rem;
  font-weight: 700;
  border-radius: 13px;
  box-shadow: 6px 6px 11px 0px rgba(0, 0, 0, 0.1);
}
.basic-button--light {
  background-color: transparent;
}
.basic-button--light:hover {
  color: #F5F4F7;
}
.basic-button--grey {
  color: #EFEEF2;
}
.basic-button--grey:hover {
  background-color: #737373;
}

.title-wrapper {
  display: flex;
  align-items: center;
}
.title-wrapper .basic-title {
  margin-right: 60px;
}
.title-wrapper .title-wrapper-link {
  color: #B4D6A4;
  font-size: 0.95rem;
  border-bottom: 1px solid #B4D6A4;
  transition: 0.2s ease;
}
.title-wrapper .title-wrapper-link:hover {
  border-bottom: 1px solid #DCCAE4;
  color: #DCCAE4;
  transition: 0.2s ease;
}

.swiper-navigation {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: -20px;
}
.swiper-navigation .swiper-button {
  position: relative;
  width: 110px;
  height: 110px;
  border: 1px solid #B4D6A4;
  border-radius: 50%;
  left: unset;
  right: unset;
  top: unset;
  bottom: unset;
  background-color: #B4D6A4;
}
.swiper-navigation .swiper-button::after {
  display: none;
}
.swiper-navigation .swiper-button:not(:last-child) {
  margin-right: 37px;
}
.swiper-navigation .swiper-button:hover {
  opacity: 0.7;
}
.swiper-navigation .swiper-button > svg path {
  stroke: #FFF6E6;
}
.swiper-navigation .swiper-button.swiper-button-disabled {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
}
.swiper-navigation .swiper-button.swiper-button-disabled > svg path {
  stroke: #382D27;
}

.news-list-item > .content {
  position: relative;
}

@keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}
@keyframes countingBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes marker {
  0% {
    background-size: 0 85%;
  }
  100% {
    background-size: 100% 85%;
  }
}
@keyframes marker-reverse {
  0% {
    background-size: 100% 85%;
  }
  100% {
    background-size: 0 85%;
  }
}
@keyframes expander {
  0% {
    min-height: 0;
  }
  100% {
    min-height: 430px;
  }
}
@keyframes rolling {
  0% {
    transform: scale(0.5) rotate(0deg);
  }
  50% {
    transform: scale(1) rotate(180deg);
  }
  100% {
    transform: scale(0.5) rotate(360deg);
  }
}
@keyframes gray-round {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(2);
    opacity: 1;
  }
}
.header {
  height: 600px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.3) 50.02%, rgba(0, 0, 0, 0) 100%);
}
.header .header-wrapper {
  padding-top: 35px;
  padding-bottom: 35px;
}
.header .top-menu-wrapper {
  display: flex;
  flex-direction: column;
}
.header .top-menu-wrapper .contacts-block {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.header .top-menu-wrapper .contacts-block .phones {
  display: flex;
  color: #E5E5E5;
  font-size: 1.15rem;
  font-weight: 700;
}
.header .top-menu-wrapper .contacts-block .phones a {
  color: inherit;
  transition: 0.2s ease;
}
.header .top-menu-wrapper .contacts-block .phones a:not(:last-child) {
  margin-right: 20px;
}
.header .top-menu-wrapper .contacts-block .phones a:hover {
  color: #FFF6E6;
  transition: 0.2s ease;
}
.header .top-menu-wrapper .contacts-block .address {
  color: #FFF6E6;
  font-size: 0.75rem;
}
.header .top-menu-wrapper .top-menu {
  display: flex;
  justify-content: flex-end;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: auto;
}
.header .top-menu-wrapper .top-menu .menu-item:not(:last-child) {
  margin-right: 20px;
}
.header .top-menu-wrapper .top-menu .menu-item a {
  display: inline-block;
  color: inherit;
  background-color: #F3E07F;
  border-radius: 75px;
  padding: 5px 20px;
  white-space: nowrap;
  font-size: 0.9rem;
  transition: 0.2s ease;
}
.header .top-menu-wrapper .top-menu .menu-item a:hover {
  background-color: #DCCAE4;
  transition: 0.2s ease;
}

.header--absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.promo-slider .swiper-slide {
  position: relative;
}
.promo-slider .swiper-slide .caption {
  position: absolute;
  z-index: 110;
  left: 50%;
  transform: translateX(-50%);
  top: 400px;
}
.promo-slider .swiper-slide .caption .basic-title {
  font-size: 3.2rem;
  margin-bottom: 2.5rem;
}
.promo-slider .swiper-slide .caption p {
  margin-bottom: 2.5rem;
}
.promo-slider .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 24px;
  height: 24px;
  background-color: #382D27;
  margin: 0 8px;
}
.promo-slider .swiper-horizontal > .swiper-pagination-bullets {
  bottom: 50px;
}

.actions-item {
  height: auto;
}
.actions-item:hover .actions-item-image {
  cursor: pointer;
}
.actions-item:hover .actions-item-image::after {
  opacity: 1;
  transition: 0.2s ease;
}
.actions-item:hover .actions-item-info {
  transition: 0.2s ease;
  opacity: 0.85;
}
.actions-item > .content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.actions-item > .content .actions-item-image img {
  width: 100%;
}
.actions-item .actions-item-image {
  margin-bottom: 1.15rem;
  position: relative;
}
.actions-item .actions-item-image::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  content: "";
  opacity: 0;
  background-color: rgba(243, 224, 127, 0.3);
  transition: 0.2s ease;
}
.actions-item .actions-item-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  transition: 0.2s ease;
}
.actions-item .actions-item-info .actions-item-title {
  font-size: 1.35rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1.15rem;
}
.actions-item .actions-item-info .actions-item-preview {
  margin-top: auto;
}

.about--index {
  padding-top: 6.5rem;
}
.about--index .about-content {
  position: relative;
  margin-top: 4rem;
  min-height: 1000px;
}
.about--index .about-image-row {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
.about--index .about-image-row .about-image img {
  width: 550px;
}
.about--index .about-description > p:first-child {
  background-color: #F3E07F;
  font-size: 1.75rem;
  font-weight: 500;
  padding: 60px 60px 60px 500px;
  margin-top: -35px;
}
.about--index .about-description > p {
  padding-left: 500px;
  padding-right: 60px;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

.index-actions {
  padding-top: 5rem;
}
.index-actions .index-actions-swiper {
  margin-top: 3rem;
}

.index-services {
  padding-bottom: 150px;
}
.index-services .title-wrapper {
  margin-bottom: 2.5rem;
}

.services-tabs .nav-item {
  margin-bottom: 35px;
}
.services-tabs .nav-item:not(:last-child) {
  margin-right: 40px;
}
.services-tabs .nav-item .nav-link {
  font-size: 1.35rem;
  font-weight: 600;
  background-color: #F3E07F;
  color: #382D27;
  border-radius: 45px;
  padding: 15px 44px;
  transition: 0.2s ease;
}
.services-tabs .nav-item .nav-link:hover {
  background-color: rgba(243, 224, 127, 0.7);
  transition: 0.2s ease;
}
.services-tabs .nav-item .nav-link.active {
  background-color: #DCCAE4;
  transition: 0.2s ease;
}
.services-tabs .nav-item .nav-link.active:hover {
  background-color: #DCCAE4;
  transition: 0.2s ease;
}

.services-list-wrapper {
  position: relative;
}
.services-list-wrapper .collapse-button-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  z-index: 1;
}
.services-list-wrapper .collapse-button-wrapper::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #B4D6A4;
  content: "";
}
.services-list-wrapper .collapse-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  width: 88px;
  height: 88px;
  border: 23px solid white;
  background-color: #B4D6A4;
  border-radius: 50%;
  transition: 0.2s ease;
}
.services-list-wrapper .collapse-button > svg {
  transition: 0.2s ease;
}
.services-list-wrapper .collapse-button:hover {
  background-color: rgb(200, 219, 191);
}
.services-list-wrapper .collapse-button:hover::after {
  color: rgb(200, 219, 191);
}
.services-list-wrapper .collapse-button::after {
  content: "Смотреть больше";
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
  width: max-content;
  font-size: 0.95rem;
  line-height: 1.2;
  border-bottom: 1px solid #B4D6A4;
  color: #B4D6A4;
}
.services-list-wrapper .collapse-button[aria-expanded=true] > svg {
  transform: rotate(-180deg);
  transition: 0.2s ease;
}
.services-list-wrapper .collapse-button[aria-expanded=true]::after {
  content: "Свернуть";
}

.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1.5px solid #DCCAE4;
}

.collapse > .services-list {
  border-top: unset;
}

.services-item {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1.5px solid #DCCAE4;
}
.services-item > .row {
  align-items: center;
}
.services-item .services-item-title {
  margin-bottom: 0;
  font-size: 1.35rem;
  font-weight: 600;
  line-height: 1.2;
}

.index-staff {
  padding-top: 5rem;
  padding-bottom: 3rem;
}
.index-staff .index-staff-swiper {
  margin-top: 3rem;
}

.staff-item {
  height: auto;
  position: relative;
}
.staff-item > .stretched-link:hover + .content .staff-item-image {
  cursor: pointer;
}
.staff-item > .stretched-link:hover + .content .staff-item-image::after {
  opacity: 1;
  transition: 0.2s ease;
}
.staff-item > .stretched-link:hover + .content .staff-item-info {
  transition: 0.2s ease;
  opacity: 0.85;
}
.staff-item > .content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.staff-item > .content .staff-item-image {
  position: relative;
  z-index: 0;
}
.staff-item > .content .staff-item-image::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  content: "";
  opacity: 0;
  background-color: rgba(220, 202, 228, 0.3);
  transition: 0.2s ease;
}
.staff-item > .content .staff-item-image img {
  width: 100%;
}
.staff-item > .content .staff-item-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.staff-item > .content .staff-item-name {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
  padding: 0.85rem 0;
  margin-bottom: 0;
}
.staff-item > .content .staff-item-post {
  line-height: 1.5;
  padding: 0.85rem 0;
  margin-top: auto;
  border-top: 1.5px solid #DCCAE4;
}

.index-news {
  padding-bottom: 3rem;
}
.index-news .title-wrapper {
  margin-bottom: 5rem;
}
.index-news .news-list-images {
  padding-top: 20px;
}
.index-news .news-list {
  border-top: 1.5px solid #DCCAE4;
}
.index-news .news-list .news-list-item {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1.5px solid #DCCAE4;
}
.index-news .news-list .news-list-item .content {
  display: flex;
  position: relative;
  align-items: flex-start;
}
.index-news .news-list .news-list-item .content .title-block {
  width: 30%;
  flex-shrink: 0;
}
.index-news .news-list .news-list-item .content .title-block .date {
  color: #909090;
  margin-bottom: 1.2rem;
  line-height: 1;
}
.index-news .news-list .news-list-item .content .title-block .title {
  font-weight: 600;
  line-height: 1.4;
  color: #909090;
  margin-bottom: 0;
  font-size: 1rem;
}
.index-news .news-list .news-list-item .content .text-block {
  width: 70%;
  flex-shrink: 0;
  color: #909090;
  line-height: 1.3;
  padding-left: 130px;
}
.index-news .news-list .news-list-item[aria-selected=true] .title-block {
  width: 30%;
  flex-shrink: 0;
}
.index-news .news-list .news-list-item[aria-selected=true] .title-block .date, .index-news .news-list .news-list-item[aria-selected=true] .title-block .title {
  color: #382D27;
}
.index-news .news-list .news-list-item[aria-selected=true] .text-block {
  color: #382D27;
}

.index-articles {
  padding-top: 5rem;
  padding-bottom: 3rem;
}
.index-articles .index-articles-swiper {
  margin-top: 3rem;
}

.articles-item {
  display: flex;
  min-height: 760px;
  position: relative;
}
.articles-item:hover > .content {
  background-color: #DCCAE4;
}
.articles-item:hover > .content .date {
  color: white;
}
.articles-item:hover > .content .triangle-wrapper .triangle::after {
  border-bottom: 117px solid #DCCAE4;
}
.articles-item > .content {
  position: relative;
  border: 1.5px solid #382D27;
  padding: 50px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.articles-item > .content .date {
  margin-top: auto;
  margin-bottom: 20px;
}
.articles-item > .content .title {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 1.2rem;
  margin-bottom: 0;
  border-bottom: 1.5px solid #382D27;
}
.articles-item > .content .preview {
  padding-top: 1.2rem;
}
.articles-item > .content .triangle-wrapper {
  position: absolute;
  top: -1.5px;
  right: -1.5px;
  width: 150px;
  height: 120px;
  background-color: white;
}
.articles-item > .content .triangle-wrapper .triangle {
  position: relative;
  display: inline-block;
  border-bottom: 120px solid #382D27;
  border-right: 150px solid rgba(255, 255, 255, 0);
}
.articles-item > .content .triangle-wrapper .triangle::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 1px;
  border-bottom: 117px solid #fff;
  border-right: 146px solid rgba(255, 255, 255, 0);
}

.index-cosmetic {
  padding-bottom: 3rem;
  padding-top: 5rem;
}
.index-cosmetic .title-wrapper {
  margin-bottom: 5rem;
}

.cosmetic-item > .content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #F3F2ED;
  padding: 25px 25px 45px;
}
.cosmetic-item > .content:hover {
  background-color: #F3E07F;
}
.cosmetic-item > .content > img {
  width: 100%;
}
.cosmetic-item > .content .title {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.3;
  text-transform: uppercase;
  min-height: 5rem;
  padding-bottom: 25px;
  border-bottom: 1px solid #DCCAE4;
}
.cosmetic-item > .content .preview {
  padding-top: 25px;
}

.footer-wrapper {
  padding-top: 10rem;
}
.footer-wrapper .footer-contacts {
  position: relative;
  background-color: #B4D6A4;
  padding-top: 9rem;
  padding-bottom: 4rem;
}
.footer-wrapper .footer-contacts .contacts-info .basic-title {
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
}
.footer-wrapper .footer-contacts .contacts-info .contacts-info-bottom-row {
  display: flex;
  align-items: flex-start;
  margin-top: 3rem;
}
.footer-wrapper .footer-contacts .contacts-info .contacts-info-bottom-row .contacts-info-phones,
.footer-wrapper .footer-contacts .contacts-info .contacts-info-bottom-row .contacts-info-messages {
  width: 50%;
}
.footer-wrapper .footer-contacts .contacts-info .contacts-info-bottom-row .contacts-info-phones b:not(.basic-button),
.footer-wrapper .footer-contacts .contacts-info .contacts-info-bottom-row .contacts-info-phones a:not(.basic-button),
.footer-wrapper .footer-contacts .contacts-info .contacts-info-bottom-row .contacts-info-messages b:not(.basic-button),
.footer-wrapper .footer-contacts .contacts-info .contacts-info-bottom-row .contacts-info-messages a:not(.basic-button) {
  display: block;
  margin-bottom: 1rem;
}
.footer-wrapper .footer-contacts .contacts-info .contacts-info-bottom-row .contacts-info-phones a:not(.basic-button),
.footer-wrapper .footer-contacts .contacts-info .contacts-info-bottom-row .contacts-info-messages a:not(.basic-button) {
  width: fit-content;
  color: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  line-height: 1.5;
}
.footer-wrapper .footer-contacts .contacts-info .contacts-info-bottom-row .contacts-info-phones a:not(.basic-button):hover,
.footer-wrapper .footer-contacts .contacts-info .contacts-info-bottom-row .contacts-info-messages a:not(.basic-button):hover {
  border-bottom: 1px solid #382D27;
}
.footer-wrapper .footer-contacts .contacts-info .contacts-info-bottom-row .contacts-info-messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer-wrapper .footer-contacts .contacts-info .contacts-info-bottom-row .contacts-info-messages .basic-button {
  border: unset;
  background-color: #DCCAE4;
  padding: 15px 40px 15px 30px;
  font-size: 1rem;
}
.footer-wrapper .footer-contacts .contacts-info .contacts-info-bottom-row .contacts-info-messages .basic-button:hover {
  box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.25);
}
.footer-wrapper .footer-contacts .contacts-info .contacts-info-bottom-row .contacts-info-messages .basic-button:hover > svg {
  transition: 0.2s ease;
}
.footer-wrapper .footer-contacts .contacts-info .contacts-info-bottom-row .contacts-info-messages .basic-button:hover > svg > path {
  fill: #00a900;
  transition: 0.2s ease;
}
.footer-wrapper .footer-contacts .contacts-info .contacts-info-bottom-row .contacts-info-messages .basic-button > svg {
  margin-right: 25px;
  transition: 0.2s ease;
}
.footer-wrapper .footer-contacts .contacts-info .contacts-info-bottom-row .contacts-info-messages .basic-button > svg > path {
  transition: 0.2s ease;
}
.footer-wrapper .footer-contacts .contacts-map {
  position: absolute !important;
  bottom: 0;
  right: 0;
  margin-left: auto;
}
.footer-wrapper .footer-contacts .contacts-map .leaflet-tile-pane {
  filter: grayscale(1);
}
.footer-wrapper .footer-bottom-row {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-wrapper .footer-bottom-row .attention {
  text-transform: uppercase;
  font-size: 1.2rem;
}
.footer-wrapper .footer-bottom-row .dev {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.footer-wrapper .footer-bottom-row .dev a img {
  transition: 0.5s ease;
}
.footer-wrapper .footer-bottom-row .dev a img:hover {
  transition: 0.5s ease;
  transform: rotate(360deg);
}
@media (max-width: 1199px) {
  .footer-wrapper .footer-bottom-row .dev a img {
    width: 30px;
    height: 30px;
  }
}
/*# sourceMappingURL=style.css.map */