.index-news {
    padding-bottom: 3rem;
    @media (max-width: 575px) {
        padding-bottom: 2rem;
    }
    .title-wrapper {
        margin-bottom: 5rem;
        @media (max-width: 1920px) {
            margin-bottom: 3rem;
        }
        @media (max-width: 1499px) {
            margin-bottom: 2rem;
        }
    }
    .news-list-images {
        padding-top: 20px;
    }
    .news-list {
        border-top: 1.5px solid $violet;
        .news-list-item {
            padding-top: 30px;
            padding-bottom: 30px;
            border-bottom: 1.5px solid $violet;
            @media (max-width: 1499px) {
                padding-top: 20px;
                padding-bottom: 20px;
            }
            @media (max-width: 1199px) {
                padding: 15px;
            }
            @media (max-width: 991px) {
                padding: 15px 5px;
            }
            .content {
                display: flex;
                position: relative;
                align-items: flex-start;
                @media (max-width: 767px) {
                    flex-direction: column;
                }
                .title-block {
                    width: 30%;
                    flex-shrink: 0;
                    @media (max-width: 767px) {
                        width: 100%;
                        margin-bottom: 10px;
                    }
                    .date {
                        color: #909090;
                        margin-bottom: 1.2rem;
                        line-height: 1;
                        @media (max-width: 1199px) {
                            margin-bottom: 0.8rem;
                        }
                        @media (max-width: 767px) {
                            margin-bottom: 5px;
                        }
                    }
                    .title {
                        font-weight: 600;
                        line-height: 1.4;
                        color: #909090;
                        margin-bottom: 0;
                        font-size: 1rem;
                        @media (max-width: 575px) {
                            color: $main-font-color;
                            font-size: 1.1rem;
                        }
                    }
                }
                .text-block {
                    width: 70%;
                    flex-shrink: 0;
                    color: #909090;
                    line-height: 1.3;
                    padding-left: 130px;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    @media (max-width: 1920px) {
                        padding-left: 80px;
                    }
                    @media (max-width: 1499px) {
                        padding-left: 50px;
                    }
                    @media (max-width: 1299px) {
                        padding-left: 20px;
                    }
                    @media (max-width: 767px) {
                        width: 100%;
                        padding-left: 0;
                    }
                    @media (max-width: 575px) {
                        color: $main-font-color;
                        font-size: 0.8rem;
                    }
                }
            }
            &[aria-selected=true] {
                .title-block {
                    flex-shrink: 0;
                    .title {
                        color: $main-font-color;
                    }
                }
                .text-block {
                    color: $main-font-color;
                }
            }
        }
    }
}