.index-cosmetic {
    padding-bottom: 3rem;
    padding-top: 5rem;
    .title-wrapper {
        margin-bottom: 5rem;
    }
}

.cosmetic-item {
    > .content {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: #F3F2ED;
        padding: 25px 25px 45px;
        &:hover {
            background-color: $yellow;
        }
        > img {
            width: 100%;
        }
        .title {
            margin-top: 20px;
            margin-bottom: 0;
            font-weight: 600;
            line-height: 1.3;
            text-transform: uppercase;
            min-height: 5rem;
            padding-bottom: 25px;
            border-bottom: 1px solid $violet;
        }
        .preview {
            padding-top: 25px;
        }
    }
}