.index-actions {
    padding-top: 5rem;
    @media (max-width: 767px) {
        padding-top: 2.5rem;
    }
    .index-actions-swiper {
        margin-top: 3rem;
        @media (max-width: 991px) {
            margin-top: 2rem;
        }
        @media (max-width: 767px) {
            margin-top: 1.5rem;
        }
    }
}