.promo-slider {
	.swiper-slide {
		position: relative;
		.caption {
			position: absolute;
			z-index: 110;
			left: 50%;
			transform: translateX(-50%);
			top: 400px;
			@media (max-width: 1920px) {
				top: 350px;
			}
			.basic-title {
				font-size: 3.2rem;
				margin-bottom: 2.5rem;
				@media (max-width: 2299px) {
					font-size: 2.5rem;
				}
			}
			p {
				margin-bottom: 2.5rem;
				@media (max-width: 2299px) {
					margin-bottom: 2rem;
				}
			}
		}
	}
	.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
		width: 24px;
		height: 24px;
		background-color: $main-font-color;
		margin: 0 8px;
	}
    .swiper-horizontal>.swiper-pagination-bullets {
        bottom: 50px;
    }
}
