.index-services {
    padding-bottom: 150px;
    @media (max-width: 1199px) {
        padding-bottom: 120px;
    }
    @media (max-width: 575px) {
        padding-top: 3rem;
        padding-bottom: 90px;
    }
    .title-wrapper {
        margin-bottom: 2.5rem;
        @media (max-width: 767px) {
            margin-bottom: 2rem;
        }
    }
}

.services-tabs {
    .nav-item {
        margin-bottom: 35px;
        @media (max-width: 1920px) {
            margin-bottom: 25px;
        }
        @media (max-width: 1399px) {
            margin-bottom: 20px;
        }
        @media (max-width: 991px) {
            margin-bottom: 15px;
        }
        &:not(:last-child) {
            margin-right: 40px;
            @media (max-width: 1920px) {
                margin-right: 30px;
            }
            @media (max-width: 1499px) {
                margin-right: 20px;
            }
            @media (max-width: 1399px) {
                margin-right: 15px;
            }
            @media (max-width: 991px) {
                margin-right: 10px;
            }
        }
        .nav-link {
            font-size: 1.35rem;
            font-weight: 600;
            background-color: $yellow;
            color: $main-font-color;
            border-radius: 45px;
            padding: 15px 44px;
            transition: 0.2s ease;
            @media (max-width: 1920px) {
                font-size: 1.15rem;
                padding: 12px 35px;
            }
            @media (max-width: 1699px) {
                font-size: 1.05rem;
            }
            @media (max-width: 1499px) {
                padding: 10px 28px;
            }
            @media (max-width: 1399px) {
                font-size: 1rem;
                padding: 9px 24px;
            }
            @media (max-width: 1199px) {
                font-size: 0.9rem;
                padding: 8px 20px;
            }
            @media (max-width: 991px) {
                padding: 7px 15px;
            }
            &:hover {
                background-color: rgba(243, 224, 127, 0.7);
                transition: 0.2s ease;
            }
            &.active {
                background-color: $violet;
                transition: 0.2s ease;
                &:hover {
                    background-color: $violet;
                    transition: 0.2s ease;
                }
            }
        }
    }
}

.services-list-wrapper {
    position: relative;
    .collapse-button-wrapper {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: -100px;
        left: 0;
        width: 100%;
        z-index: 1;
        @media (max-width: 1399px) {
            bottom: -70px;
        }
        @media (max-width: 599px) {
            bottom: -60px;
        }
        @media (max-width: 575px) {
            bottom: -50px;
        }
        &::before {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            height: 4px;
            width: 100%;
            background-color: $green;
            content: "";
            @media (max-width: 1499px) {
                height: 3px;
            }
            @media (max-width: 1399px) {
                height: 2px;
            }
        }
    }
    .collapse-button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 10;
        width: 88px;
        height: 88px;
        border: 23px solid white;
        background-color: $green;
        border-radius: 50%;
        transition: 0.2s ease;
        @media (max-width: 1920px) {
            width: 78px;
            height: 78px;
            border-width: 18px;
        }
        @media (max-width: 1699px) {
            width: 75px;
            height: 75px;
            border-width: 15px;
        }
        @media (max-width: 1499px) {
            width: 65px;
            height: 65px;
            border-width: 10px;
        }
        @media (max-width: 1399px) {
            width: 55px;
            height: 55px;
            border-width: 7px;
        }
        @media (max-width: 1199px) {
            border-width: 10px;
        }
        @media (max-width: 991px) {
            width: 45px;
            height: 45px;
        }
        @media (max-width: 575px) {
            width: 40px;
            height: 40px;
        }
        > svg {
            transition: 0.2s ease;
            @media (max-width: 1920px) {
                width: 23px;
            }
            @media (max-width: 1699px) {
                width: 20px;
            }
            @media (max-width: 1499px) {
                width: 20px;
            }
            @media (max-width: 1399px) {
                width: 15px;
            }
            @media (max-width: 575px) {
                width: 12px;
            }
        }
        &:hover {
            background-color: rgb(200, 219, 191);
            &::after {
                color: rgb(200, 219, 191);
            }
        }
        &::after {
            content: "Смотреть больше";
            display: inline-block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -50px;
            width: max-content;
            font-size: 0.95rem;
            line-height: 1.2;
            border-bottom: 1px solid $green;
            color: $green;
            @media (max-width: 1920px) {
                font-size: 0.85rem;
                bottom: -40px;
            }
            @media (max-width: 1499px) {
                bottom: -30px;
            }
            @media (max-width: 575px) {
                font-size: 0.8rem;
            }
        }
        &[aria-expanded=true] {
            > svg {
                transform: rotate(-180deg);
                transition: 0.2s ease;
            }
            &::after {
                content: "Свернуть";
            }
        }
    }
}

.services-list {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1.5px solid $violet;
}

.collapse > .services-list {
    border-top: unset;
}

.services-item {
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1.5px solid $violet;
    @media (max-width: 1920px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    @media (max-width: 1399px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    > .row {
        align-items: center;
    }
    .services-item-title {
        margin-bottom: 0;
        font-size: 1.35rem;
        font-weight: 600;
        line-height: 1.2;
        @media (max-width: 1920px) {
            font-size: 1.15rem;
        }
        @media (max-width: 575px) {
            margin-bottom: 10px;
            font-size: 1.05rem;
        }
    }
    .services-item-description {
        @media (max-width: 575px) {
            font-size: 0.8rem;
        }
    }
    .services-item-links {
        display: flex;
        justify-content: flex-end;
        > .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: fit-content;
            @media (max-width: 767px) {
                flex-direction: row;
                justify-content: center;
                margin: 10px auto 0;
            }
        }
        .services-item-link {
            color: $green;
            margin-bottom: 1rem;
            display: inline-block;
            border-bottom: 1px solid $green;
            @media (max-width: 767px) {
                margin-bottom: 0;
                margin-right: 20px;
            }
            @media (max-width: 575px) {
                font-size: 0.8rem;
            }
            &:hover {
                color: $violet;
                border-bottom-color: $violet;
            }
        }
    }
}

.services-page {
    .services-info {
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
        @media (max-width: 575px) {
            margin-top: 2rem;
            margin-bottom: 2.5rem;
        }
        .services-info-person-wrapper {
            > .content {
                border-top: 1px solid $violet;
                padding-top: 1rem;
                padding-bottom: 1rem;
                width: 95%;
                @media (max-width: 767px) {
                    border-top: unset;
                    border-bottom: 1px solid $violet;
                    width: 100%;
                }
                > img {
                    margin-bottom: 0.8rem;
                    @media (max-width: 1399px) {
                        width: 100px;
                    }
                    @media (max-width: 991px) {
                        width: 80px;
                    }
                }
            }
            h2 {
                color: $main-font-color;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.3;
                margin-bottom: 5px;
            }
            .subtitle {
                color: #909090;
                font-size: 0.75rem;
            }
            p:last-child {
                margin-bottom: 0;
            }
        }
        .services-info-text {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.3;
            @media (max-width: 767px) {
                padding-top: 1rem;
                font-size: 1.3rem;
            }
        }
    }
}

.service-item-page {
    .service-item-page-content {
        .service-item-info {
            margin-top: 3rem;
            @media (max-width: 1399px) {
                margin-top: 2rem;
            }
        }
        .service-item-recomendations {
            margin-top: 4rem;
            padding-bottom: 2rem;
            @media (max-width: 1399px) {
                margin-top: 3rem;
            }
            @media (max-width: 767px) {
                padding-bottom: 0;
            }
            .recomendation-item {
                @media (max-width: 991px) {
                    margin-bottom: 1.5rem;
                }
                .recomendation-item-header {
                    padding-bottom: 15px;
                    border-bottom: 1px solid $violet;
                    @media (max-width: 991px) {
                        padding-bottom: 10px;
                    }
                }
                > .content {
                    max-width: 90%;
                    @media (max-width: 1399px) {
                        max-width: 95%;
                    }
                    @media (max-width: 991px) {
                        max-width: 100%;
                    }
                }
                > .content > ul {
                    padding-top: 40px;
                    padding-left: 10px;
                    @media (max-width: 1699px) {
                        padding-top: 30px;
                    }
                    @media (max-width: 991px) {
                        padding-top: 20px;
                    }
                    @media (max-width: 767px) {
                        padding-top: 10px;
                    }
                    li {
                        padding-left: 15px;
                        margin-bottom: 20px;
                        @media (max-width: 1699px) {
                            padding-left: 10px;
                        }
                        @media (max-width: 1399px) {
                            margin-bottom: 15px;
                        }
                        @media (max-width: 991px) {
                            margin-bottom: 10px;
                        }
                        &::marker {
                            content: "–";
                            color: $green;
                        }
                    }
                }
            }
        }
        .service-item-description {
            padding-top: 3rem;
            border-top: 1px solid $violet;
            @media (max-width: 767px) {
                padding-top: 2rem;
            }
            .video {
                @media (max-width: 767px) {
                    margin-top: 1rem;
                }
                iframe {
                    aspect-ratio: 16 / 9;
                    width: 100%;
                    height: auto;
                }
            }
        }
        .service-item-title-wrapper {
            @media (max-width: 991px) {
                margin-bottom: 1.5rem;
            }
            .service-item-title {
                margin-top: 0;
                margin-bottom: 1rem;
            }
            .service-item-price-info {
                display: flex;
                align-items: flex-end;
                .service-item-price {
                    margin-right: 40px;
                    font-size: 1.4rem;
                    font-weight: 600;
                    line-height: 1;
                }
                .service-item-link {
                    color: $green;
                    border-bottom: 1px solid $green;
                    &:hover {
                        color: $violet;
                        border-color: $violet;
                    }
                }
            }
        }
        .service-item-preview {
            .basic-button {
                padding-left: 37px;
                padding-right: 37px;
                font-size: 0.8rem;
            }
        }
        .service-item-preview-text{
            margin-bottom: 1.5rem;
        }
    }
}