.index-staff {
	padding-top: 5rem;
	@media (max-width: 1920px) {
		padding-top: 3rem;
	}
	@media (max-width: 1199px) {
		padding-top: 2rem;
	}
	padding-bottom: 3rem;
}

.inner-staff {
	margin-top: 5rem;
	padding-bottom: 3rem;
}

.staff-swiper {
	margin-top: 3rem;
	@media (max-width: 575px) {
		margin-top: 2rem;
	}
}

.staff-item {
	height: auto;
	position: relative;
	& > .stretched-link:hover {
		+ .content .staff-item-image {
			cursor: pointer;
			&::after {
				opacity: 1;
				transition: 0.2s ease;
			}
		}
		+ .content .staff-item-info {
			transition: 0.2s ease;
			opacity: 0.85;
		}
	}
	> .content {
		display: flex;
		flex-direction: column;
		height: 100%;
		.staff-item-image {
			position: relative;
			z-index: 0;
			&::after {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 10;
				content: "";
				opacity: 0;
				background-color: rgba(220, 202, 228, 0.3);
				transition: 0.2s ease;
			}
			img {
				width: 100%;
			}
		}
		.staff-item-info {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
		}
		.staff-item-name {
			font-size: 1.5rem;
			font-weight: 600;
			line-height: 1.4;
			padding: 0.85rem 0;
			margin-bottom: 0;
			@media (max-width: 1920px) {
				font-size: 1.3rem;
				line-height: 1.2;
				padding: 0.65rem 0;
			}
			@media (max-width: 575px) {
				font-size: 1.1rem;
			}
		}
		.staff-item-post {
			line-height: 1.5;
			padding: 0.85rem 0;
			margin-top: auto;
			border-top: 1.5px solid $violet;
			@media (max-width: 1920px) {
				padding: 0.65rem 0;
			}
			@media (max-width: 575px) {
				font-size: 0.8rem;
				padding: 0.55rem 0;
			}
		}
	}
}

.staff-page {
	.staff-type-title {
		color: $violet;
		margin-bottom: 1.5rem;
		text-align: right;
		font-weight: 700;
		font-size: 1.7rem;
	}
	.staff-list {
		@media (max-width: 575px) {
			margin-right: -5px;
			margin-left: -5px;
		}
	}
	.staff-item {
		margin-bottom: 3rem;
		@media (max-width: 575px) {
			padding-right: 5px;
			padding-left: 5px;
		}
	}
}

.staff-item-page {
    .staff-item-pic {
        @media (min-width: 768px) {
            padding-right: 0;
        }
    }
    .staff-item-description {
        padding-top: 40px;
        @media (max-width: 1399px) {
            padding-top: 25px;
        }
        @media (max-width: 991px) {
            padding-top: 20px;
        }
        @media (min-width: 768px) {
            padding-left: 0;
        }
        @media (max-width: 767px) {
            padding-top: 5px;
        }
        .staff-item-header,
        .staff-item-text {
            padding-left: 80px;
            @media (max-width: 1920px) {
                padding-left: 60px;
            }
            @media (max-width: 1699px) {
                padding-left: 50px;
            }
            @media (max-width: 1399px) {
                padding-left: 40px;
            }
            @media (max-width: 1199px) {
                padding-left: 30px;
            }
            @media (max-width: 991px) {
                padding-left: 20px;
            }
            @media (max-width: 575px) {
                padding-left: 15px;
            }
            @media (max-width: 399px) {
                padding-left: 10px;
            }
        }
        .staff-item-name,
        .staff-item-post,
        .staff-item-text {
            margin-right: 130px;
            @media (max-width: 1920px) {
                margin-right: 100px;
            }
            @media (max-width: 1699px) {
                margin-right: 70px;
            }
            @media (max-width: 1399px) {
                margin-right: 50px;
            }
            @media (max-width: 1199px) {
                margin-right: 30px;
            }
            @media (max-width: 991px) {
                margin-right: 20px;
            }
            @media (max-width: 575px) {
                margin-right: 15px;
            }
            @media (max-width: 399px) {
                margin-right: 10px;
            }
        }
        .staff-item-header {
            background-color: $yellow;
            padding-top: 15px;
            padding-bottom: 35px;
            @media (max-width: 1199px) {
                padding-bottom: 25px;
            }
            @media (max-width: 575px) {
                padding-bottom: 20px;
            }
            .staff-item-name {
                font-size: 1.5rem;
                font-weight: 600;
                line-height: 1.4;
                margin-top: 0;
                margin-bottom: 15px;
                padding-bottom: 15px;
                border-bottom: 1px solid black;
            }
        }
        .staff-item-text {
            line-height: 1.55;
            .staff-item-text-title {
                margin-top: 40px;
                margin-bottom: 15px;
                font-size: 1.5rem;
                font-weight: 600;
                @media (max-width: 1920px) {
                    margin-top: 30px;
                }
                @media (max-width: 1699px) {
                    margin-bottom: 10px;
                }
                @media (max-width: 1399px) {
                    margin-top: 23px;
                }
                @media (max-width: 1199px) {
                    margin-top: 18px;
                    margin-bottom: 5px;
                }
            }
        }
    }
    .staff-item-services {
        margin-top: 3rem;
        padding-bottom: 3rem;
        @media (max-width: 575px) {
            margin-top: 2rem;
            padding-bottom: 1rem;
        }
        .staff-item-services-list {
            padding-left: 0;
            list-style-type: none;
            @media (min-width: 450px) {
                column-count: 2;
            }
            @media (max-width: 449px) {
                padding-left: 1rem;
            }
            .staff-item-services-item {
                margin-bottom: 30px;
                padding-left: 2rem;
                position: relative;
                page-break-inside: avoid;
                break-inside: avoid;
                @media (max-width: 1699px) {
                    padding-left: 1.7rem;
                }
                @media (max-width: 1199px) {
                    margin-bottom: 23px;
                }
                @media (min-width: 450px) {
                    page-break-inside: avoid;
                    break-inside: avoid;
                }
                &::before {
                    content: "";
                    width: 22px;
                    height: 22px;
                    background-color: $violet;
                    position: absolute;
                    left: 0;
                    top: 10px;
                    @media (max-width: 1699px) {
                        width: 16px;
                        height: 16px;
                        top: 7px;
                    }
                    @media (max-width: 1199px) {
                        width: 13px;
                        height: 13px;
                        top: 4px;
                    }
                    @media (max-width: 991px) {
                        width: 10px;
                        height: 10px;
                        top: 5px;
                    }
                }
                a {
                    color: $green;
                    border-bottom: 1px solid $green;
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
	.inner-works {
        margin-top: 3rem;
        margin-bottom: 5rem;
        @media (max-width: 575px) {
            margin-top: 2rem;
            margin-bottom: 3rem;
        }
		.works-swiper {
			margin-top: 3rem;
			@media (max-width: 991px) {
				margin-top: 2rem;
			}
			@media (max-width: 575px) {
				margin-top: 0;
			}
		}
        .works-item {
            img {
                width: 100%;
            }
            .stretched-link {
                &::after {
                    opacity: 0;
                    background-color: rgba(220, 202, 228, 0.3);
                    transition: 0.2s ease;
                }
                &:hover {
                    &::after {
                        opacity: 1;
                        transition: 0.2s ease;
                    }
                }
            }
        }
	}
}
